.all-posts {
  background: linear-gradient(90deg, $primary-dark, $primary, $primary-light);
  text-align: center;
  padding: 4rem 0;
  font-size: $text-normal;
  font-family: $sans-serif;

  a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;

    &:hover {
      border-bottom: 2px solid #fff;
    }
  }
}
