.join {
  padding: 15rem 0;

  &__title {
    text-align: center;
    font-size: $title;
    font-family: $sans-serif;
    font-weight: 400;
    color: $primary;
    margin-bottom: 12rem;
  }
  &__form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "label label" "input button";

    label {
      grid-area: label;
    }
  }
}
