.row {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    width: 90%;
  }
}
@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

.btn {
  display: block;
  width: fit-content;
  padding: 2.4rem 5rem;
  font-size: $text-small;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  &--solid {
    color: #fff;
    background-color: $primary;

    &:hover,
    &:focus {
      background-color: $primary-dark;
    }
  }
  &--outline {
    color: $primary;
    border: 2px solid $primary;
    background: transparent;

    &:hover,
    &:focus {
      background-color: $primary;
      color: #fff;
    }
  }
  @media screen and (max-width: $tablet) {
    font-size: 1.4rem;
    padding: 2rem 4rem;
  }
  @media screen and (max-width: $tablet) {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
}
label {
  font-size: $text-small;
  font-family: $sans-serif;
  color: $primary-text;
  padding-left: 4rem;
  padding-bottom: 1rem;

  @media screen and (max-width: $tablet) {
    padding-left: 2rem;
  }
}
.inputField {
  width: 100%;
  max-width: 750px;
  // margin: auto;
  display: block;
  font-size: $text-small;
  font-family: $sans-serif;
  padding: 2rem 4rem;
  border: 2px solid $primary;
  outline: none;

  &::placeholder {
    color: $secondary-text;
  }

  &--textarea {
    height: 40rem;
    resize: none;
  }

  @media screen and (max-width: $phone) {
    padding: 1rem 2rem;

    &--textarea {
      height: 30rem;
    }
  }
}
.spin {
  width: fit-content;
  animation: spin 1.6s linear infinite !important;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
