$primary: hsl(207, 90%, 54%);
$primary-dark: hsl(210, 79%, 46%);
$primary-light: #bbdefb;
$white: hsl(0, 0%, 100%);
$secondary: #ffc107;
$primary-text: #212121;
$secondary-text: #757575;
$divider-clr: #bdbdbd;

$phone: 375px;
$tablet: 768px;
$desktop: 1024px;
